<section data-ng-controller="HomeController">
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css">
    <div class="main" id="page-top">
        <div class="row">
            <div class="col-md-12 backg">
                <div class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                    <div class="text-box">
                        <p class="intro">7th Annual</p>
                        <h2>Cars, Bikes and BBQ</h2>
                        <!--p>Date: Saturday, May 7th, 2016</p>
                    <p>10am-3pm <span class="fa fa-circle"></span> David Glass Parking Lot <span class="fa fa-circle"></span> 702 Moberly Lane Bentonville, AR</p-->
                        <h3>All proeeds benefitting Arkansas Children's Hospital</h3>
                        </br>
                        <p><a href="#!/signup" class="link-button col-md-12 col-sm-12" ng-hide="authentication.user">Register NOW for 5 dollars off!</a></p>
                   
                        <div  ng-show="authentication.user">
                            <p></br><a href="#!/vehicle-registrations" class="link-button col-md-12 col-sm-12">Your Vehicles</a></p>
                            <p></br><a href="#!/vehicle-registrations/create" class="link-button col-md-12 col-sm-12">Add Vehicle</a></p>
                        </div>
                        <!--p><a href="#" class="link-button col-md-6 col-sm-6">Sign In</a></p-->
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 some-notes row">
                <div class="title">
                    <h2>Welcome</h2>
                </div>
                <div class="desc">
                    <p>Our rally is put together by Walmart Associate Volunteers to raise much needed funds for the Children's
                        Miracle Network Hospitals & Arkansas Children's Hospital. Our Associate Volunteers are dedicated
                        to helping children and helping you show off your cool rides. We've had tremendous success in the
                        past rallies because of our gracious partners, dedicated volunteers, and visiting patrons.</p>
                    
                    </br>
                    
                    <p>So whether you are a car fanatic, a bike rider by weekend, or just appreciate the glisten of 
                        freshly-polished chrome, we invite you to attend our event. Register your ride below. 
                        Hope to see you there!</p>

                </div>
                <!--div class="featured-links padding-tb50">
                    <a href="#" class="featured-link col-md-4 col-sm-4">
                        <span>Interested in becoming a future event partner?</span>
                        <strong>Find out how!</strong>
                    </a>
                    <!--a href="#" class="featured-link col-md-4 col-sm-4">
                        <span>Become a volunteer</span>
                        <strong>Join us now</strong>
                    </a-->
                    <!--a href="#" class="featured-link col-md-4 col-sm-4">
                        <span>View our events</span>
                        <strong>Get involved</strong>
                    </a>
                </div-->
            </div>
           
            
            <div class="col-md-12 some-notes row">
                <div class="title">
                    <h2>Our Sponsors</h2>
                </div>
                <div class="desc">
                    <p>If you are interested in partnering in future events, please use the form below to contact one 
                        of our event coordinators. We will get back with you shortly and walk you through 
                        all of the details.</p>
                </div>

            
        </div>
    </div>
</section>