<section data-ng-controller="AuthenticationController">
    <div id="tf-contact" class="text-center">
        <div class="container">
            <div class="row">
               <div class="col-md-3 col-md-offset-5 col-xs-offset-2 col-xs-9">
                         <div class="section-title center">
                        <h2><strong>Sign In</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                </div>
                   <form data-ng-submit="signin()" autocomplete="off">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
					                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
					                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="fancy-button">Sign in</button>&nbsp; or&nbsp;
                        <!--a href="/#!/signup" class="show-signup">Sign up</a-->
                        <div class="padding-tb20">
					<a href="/#!/password/forgot" class="padding-tb20">Forgot your password?</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
                    </form>
               </div>
             </div>
        </div>
    </div>
</section>   