<section data-ng-controller="AuthenticationController" data-ng-init="findOne()">
    <!--div class="page-header">
        <h1>Edit Vehicle registration</h1>
    </div-->
    <!-- Sign-Up Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2><strong>SIGN UP</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <!--small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</em></small-->
                    </div>

                    <form data-ng-submit="signup()" novalidate autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="username">Create User ID</label>
                                    <input type="text" class="form-control" id="username" data-ng-model="credentials.username" placeholder="Username">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputLastName">Password</label>
                                    <input type="text" class="form-control" id="password" data-ng-model="credentials.password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputFirstName">First Name</label>
                                    <input type="text" class="form-control" id="InputFirstName" data-ng-model="credentials.firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputLastName">Last Name</label>
                                    <input type="text" class="form-control" id="InputLastName" data-ng-model="credentials.lastName" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputEmail">Email</label>
                                    <input type="email" class="form-control" id="InputEmail" data-ng-model="credentials.email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InputPhoneNumber">Phone Number</label>
                                    <input type="tel" class="form-control" id="InputPhoneNumber" data-ng-model="credentials.phoneNumber" placeholder="ex. 555-555-5555">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="InputAddress">Address</label>
                                    <textarea class="form-control" rows="2" data-ng-model="credentials.address" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputCity">City</label>
                                    <input type="text" class="form-control" id="InputCity" data-ng-model="credentials.city" placeholder="City">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputState">State</label>
                                    <select class="form-control">
                                        <option>Alabama</option>
                                        <option>Alaska</option>
										<option>Arizona</option>
                                        <option selected="selected">Arkansas</option>
										<option>California</option>
                                        <option>Colorado</option>
										<option>Connecticut</option>
                                        <option>Delaware</option>
										<option>Florida</option>
                                        <option>Georgia</option>
										<option>Hawaii</option>
                                        <option>Idaho</option>
										<option>Illinois</option>
                                        <option>Indiana</option>
										<option>Iowa</option>
                                        <option>Kansas</option>
										<option>Kentucky</option>
                                        <option>Louisiana</option>
										<option>Maine</option>
                                        <option>Maryland</option>
										<option>Massachusetts</option>
                                        <option>Michigan</option>
										<option>Minnesota</option>
                                        <option>Mississippi</option>
										<option>Missouri</option>
                                        <option>Montana</option>
										<option>Nebraska</option>
                                        <option>Nevada</option>
										<option>New Hampshire</option>
                                        <option>New Jersey</option>
										<option>New Mexico</option>
                                        <option>New York</option>
										<option>North Carolina</option>
                                        <option>North Dakota</option>
										<option>Ohio</option>
                                        <option>Oklahoma</option>
										<option>Oregon</option>
                                        <option>Pennsylvania</option>
										<option>Rhode Island</option>
                                        <option>South Carolina</option>
										<option>South Dakota</option>
                                        <option>Tennessee</option>
										<option>Texas</option>
                                        <option>Utah</option>
										<option>Vermont</option>
                                        <option>Virginia</option>
										<option>Washington</option>
                                        <option>West Virgina</option>
										<option>Wisconsin</option>
                                        <option>Wyoming</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputZip">Zip</label>
                                    <input type="number" class="form-control" id="InputZip" data-ng-model="credentials.zip" placeholder="Zip">
                                </div>
                            </div>
                        </div>

                        <div class=row>
							<div class="col-md-12">
								<div class="checkbox">
									<label>
										<input type="checkbox" data-ng-model="credentials.previouslyParticipated" value "">Have you previously participated?
									</label>
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" data-ng-model="credentials.postPictures" value "">Can we post photos of your vehicles?
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        </br>

                        <!-- -->
                        <button type="submit" class="fancy-button">Sign up</button>&nbsp; or&nbsp;
                        <a href="/#!/signin" class="show-signup">Sign in</a>
                        <div data-ng-show="error" class="text-danger text-center">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End SignUP Form -->
</section>