<section data-ng-controller="VehicleRegistrationsController" data-ng-init="find()">
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2><strong>Vehicle Registrations</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div data-ng-repeat="vehicleRegistration in vehicleRegistrations">
                                    <a data-ng-href="#!/vehicle-registrations/{{vehicleRegistration._id}}/edit"
                                        class="list-group-item" ng-show="authentication.user._id === vehicleRegistration.user._id">
                                        <small class="list-group-item-text">Posted on
                                            <span data-ng-bind="vehicleRegistration.created | date:'medium'"></span> by
                                            <span data-ng-bind="vehicleRegistration.user.displayName"></span>
                                        </small>
                                        <h4 class="list-group-item-heading" data-ng-bind="vehicleRegistration.name"></h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-alert text-center" data-ng-hide="anyPersonalVehicles()"> <!--"!vehicleRegistrations.$resolved || vehicleRegistrations.length"-->
                        No Vehicle registrations yet, why don't you <a href="/#!/vehicle-registrations/create">create one</a>?
                    </div>
                    <div class="row" data-ng-hide="!anyPersonalVehicles()">
                        <ul class="social-icons icon-circle icon-zoom list-inline ">
                            <li><p><a href="#!/vehicle-registrations/create">Add another Vehicle</a></p></li>                
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>