<section>
  <div id="tf-contact" class="text-center">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="section-title center">
            <h2>
              <strong>{{vm.vehicle._id ? 'Edit Vehicle' : 'New Vehicle'}}</strong>
            </h2>
            <div class="line">
              <hr>
            </div>
            <div class="clearfix"></div>
            <div class="alert alert-info">Add your Car or Motorcycle details so they are ready when you check in at the Event.</div>
          </div>

          <!--div class="page-header">
            <h1>{{vm.vehicle._id ? 'Edit Vehicle' : 'New Vehicle'}}</h1>
          </div-->

          <form name="vm.form.vehicleForm" ng-submit="vm.save(vm.form.vehicleForm.$valid)" novalidate>
            <fieldset>

              <div class="row">

                <div class="col-md-12">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="name">Driver or Car Name</label>
                    <input name="name" type="text" ng-model="vm.vehicle.name" id="name" class="form-control" placeholder="Name" required>
                    <div ng-messages="vm.form.vehicleForm.name.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle name is required.</p>
                    </div>
                    <!-- End Error Block -->
                  </div>
                  <!-- End Name -->
                </div>
                <!-- End Column -->
              </div>
              <!-- End Row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <!-- TODO This should really be a selection/context menu that defines the rest of the form -->
                    <label class="control-label" for="type">Vehicle Type</label>
                    <input name="type" type="text" ng-model="vm.vehicle.type" id="type" class="form-control" placeholder="Type" required>
                    <div ng-messages="vm.form.vehicleForm.type.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle type is required.</p>
                    </div>
                    <!-- End Error Block -->
                  </div>
                  <!-- End Type -->
                </div>
                <!-- End Column -->
                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="year">Vehicle Year</label>
                    <input name="year" type="number" ng-model="vm.vehicle.year" id="year" class="form-control" placeholder="Year" required>
                    <div ng-messages="vm.form.vehicleForm.year.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle year is required.</p>
                    </div>
                    <!-- End Error Block -->
                  </div>
                  <!-- End Year -->
                </div>
                <!-- End Column -->
              </div>
              <!-- End Row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="make">Vehicle Make</label>
                    <input name="make" type="text" ng-model="vm.vehicle.make" id="make" class="form-control" placeholder="Make" required>
                    <div ng-messages="vm.form.vehicleForm.make.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle make is required.</p>
                    </div>
                  </div>
                  <!-- End Make -->
                </div>
                <!-- End Column -->
                <div class="col-md-6">

                  <div class="form-group" show-errors>
                    <label class="control-label" for="model">Vehicle Model</label>
                    <input name="model" type="text" ng-model="vm.vehicle.model" id="model" class="form-control" placeholder="Model" required>
                    <div ng-messages="vm.form.vehicleForm.model.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle model is required.</p>
                    </div>
                  </div>
                  <!-- End Model -->
                </div>
                <!-- End Column -->
              </div>
              <!-- End Row -->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <label class="control-label" for="mods">Modifications</label>
                    <input name="mods" type="text" ng-model="vm.vehicle.mods" id="mods" class="form-control" placeholder="Modifications"
                      required>
                    <div ng-messages="vm.form.vehicleForm.mods.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle mods is required.</p>
                    </div>
                  </div>
                </div>
                <!-- End Column -->
                <!-- End Modifications -->
                <div class="col-md-6">

                  <div class="form-group" show-errors>
                    <label class="control-label" for="name">Entry Class</label>
                    <select name="class" type="text" ng-model="vm.vehicle.class" id="name" class="form-control" required>
                      <option>Mother's Only</option>
                      <option>Cars Stock 1900-1971</option>
                      <option>Cars Stock 1972-Present</option>
                      <option>Cars Modified 1900-1971</option>
                      <option>Cars Modified 1972-Present</option>
                      <option>Cars Custom (All Years)</option>
                      <option>Truck Stock 1900-1971</option>
                      <option>Truck Stock 1972-Present</option>
                      <option>Truck Modified 1900-1971</option>
                      <option>Truck Modified 1972-Present</option>
                      <option>4x4's</option>
                      <option>Foreign Cars (All Years)</option>
                      <option>Mustang</option>
                      <option>Camaro</option>
                      <option>Corvette</option>
                      <option>Mopar Muscle</option>
                      <option>Street Rod</option>
                      <option>Tri-Fives</option>
                      <option>Rat Rods</option>
                      <option>Motorcycle Sport Bike</option>
                      <option>Motorcycle Touring</option>
                      <option>Motorcycle Custom</option>
                    </select>
                    <div ng-messages="vm.form.vehicleForm.class.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Vehicle class is required.</p>
                    </div>
                  </div>
                  <!-- End Class -->
                </div>
                <!-- End Column -->
              </div>
              <!-- End Row -->

              <div class="form-group">
                <button type="submit" class="btn btn-default">{{vm.vehicle._id ? 'Update' : 'Create'}}</button>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>