<section data-ng-controller="ReportsController" ng-init="init()">
  <div id="tf-contact" class="text-center">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <div class="section-title center">
            <h2>
              <strong>Status</strong>
            </h2>
            <div class="line">
              <hr>
            </div>
            <div class="clearfix"></div>
          </div>

            Current Registered Count: {{ user }}
            
            </hr>

            <!--Foreach populate the classes -->
            <h4>Mother's Only</h4>
            <h4>Cars Stock 1900-1971</h4>
            <h4>Cars Stock 1972-Present</h4>
            <h4>Cars Modified 1900-1971</h4>
            <h4>Cars Modified 1972-Present</h4>
            <h4>Cars Custom (All Years)</h4>
            <h4>Truck Stock 1900-1971</h4>
            <h4>Truck Stock 1972-Present</h4>
            <h4>Truck Modified 1900-1971</h4>
            <h4>Truck Modified 1972-Present</h4>
            <h4>4x4's</h4>
            <h4>Foreign Cars (All Years)</h4>
            <h4>Mustang</h4>
            <h4>Camaro</h4>
            <h4>Corvette</h4>
            <h4>Mopar Muscle</h4>
            <h4>Street Rod</h4>
            <h4>Tri-Fives</h4>
            <h4>Rat Rods</h4>
            <h4>Motorcycle Sport Bike</h4>
            <h4>Motorcycle Touring</h4>
            <h4>Motorcycle Custom</h4>
                   
        </div>
      </div>
    </div>
  </div>
</section>