<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>First Name</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Last Name</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Roles</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="page-header">
    <h1>Vehicles</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="vehicle in vm.vehicles">
      <a data-ui-sref="vehicles.edit({ vehicleId: vehicle._id })"
        class="list-group-item"> <!--ng-show="vehicle.user._id == user._id"-->
        <small class="list-group-item-text">
          Posted on
          <span data-ng-bind="vehicle.created | date:'mediumDate'"></span>
          by
          <span data-ng-if="vehicle.user" data-ng-bind="vehicle.user.displayName"></span>
          <span data-ng-if="!vehicle.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" data-ng-bind="vehicle.name"></h4>
      </a>  
    </div>
  
  <div class="alert alert-warning text-center" data-ng-if="vm.vehicles.$resolved && !vm.vehicles.length">
    No Vehicles added, why don't you <a data-ui-sref="vehicles.create">create one</a>?
  </div>  
  
</section>